*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);

}

:root{
     --color-neutral-black: #263238;
     --color-neutral-D_gray: #4D4D4D;
     --color-neutral-Grey: #717171;
     --color-neutral-L_Grey: #89939E;
     --color-neutral-Grey-blue: #ABBED1;
     --color-neutral-Silver: #F5F7FA;
     --color-neutral-White: #FFFFFF;
     --color-primary: #4CAF4F;
     --color-secondary: #263238;
     --color-info: #2194f3;
     --colorshade1: #43A046;
    
     --colorshade2: #43A046;
     --colorshade3: #237D31;
     --colorshade4: #1B5E1F;
     --colorshade5: #103E13;
     --colortint1: #66BB69;
     --colortint2: #81C784;
     --colortint3: #A5D6A7;
     --colortint4: #C8E6C9;
     --colortint5: #E8F5E9;
     --colorWarning: #FBC02D;
     --colorError: #E53835;
     --colorSucess: #2E7D31;

     --font-family: "inter";
     --font-headline-1-size: 64px;
     --font-headline-2-size: 36px;
     --font-headline-2-weight: 600;
     --font-headline-4-size: 20px;
     --font-body2-weight-regular: 400;
     --font-body3-size: 14px;

}

a{
    text-decoration: none;
}